
/* General CSS */

body{
  font-family: "Open  Sans", sans-serif;
  /* color:darkblue; */
  background-color: #0a192f;
  /* background: url("../../james-wheeler-e_DBd65sqxc-unsplash.jpg") top center; */
}

a{
  color:#ccd6f6;
  text-decoration: none;
}

a:hover{
  color:#0a192f;
  text-decoration: none;
}

h1{
font-family: 'Montserrat', sans-serif;
/* font-family: 'Ubuntu', sans-serif; */
}

h2,
h3,
h4,
h5,
h6 {
  /* font-family: "Raleway", sans-serif; */
}

/* Section General  */

section{
  padding:60px 0;
  overflow:hidden;
}

.section-title{
  padding-bottom:40px;
}

.section-title h1{
  font-size:32px;
  font-weight: 500px;
  padding:0px;
  line-height: 1px;
  margin:0 0 5px 0;
  letter-spacing: 2px;
  /* text-transform: uppercase; */
  color:#ccd6f6;
  font-family: 'Montserrat', sans-serif;
}

.section-title h1::after{
  content:"";
  width:360px;
  height: 1px;
  display: inline-block;
  background:#ccd6f6;
  opacity: 0.2;
  margin:10px 10px;
}

/* .section-title p{

} */

/* PreLoader */

#preloader{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: 9999;
  overflow:hidden;
  background: darkblue;
}

#preloader:before{
  content:"kpL";
  position:fixed;
  top:calc(50% - 0px);
  left:calc(50% - 30px);
  border:12px solid darkblue;
  border-top-color: #151515;
  border-bottom-color: #151515;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Disable aos animation delay on mobile devices */

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}



/* Header */

#header{
  transition: all 0.5;
  z-index: 997;
  padding:15px 0;
}

#header.header-scrolled,
#header.header-inner-pages{
  background: rgba(0, 0, 0, 0.5);
}

#header .logo{
  font-size: 32px;
  margin:0px;
  padding:0px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0px;
  /* text-transform: uppercase; */
}

#header .logo a{
  color:#64ffda;
}
#header .logo a span{
  color:#64ffda;
}
.get-started-btn{
  color:#64ffda;
}
.get-started-btn:hover{
  color:#64ffda;
}
/* #header .logo img{
  max-height: 40px;
} */

/* Navigation Menu - Desktop Navigation  */

.navbar {
  padding:0;
}

.navbar span{
  padding-right:10px;
  color:#64ffda;
  font-family: 'Montserrat', sans-serif;
}

.navbar ul{
  margin:0px;
  padding:0px;
  display:flex;
  list-style:none;
  align-items: center;
}

.navbar li{
  position: relative;
  /* padding-left:30px; */
}

.navbar a,
.navbar a:focus{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding:10px 0 10px 30px;
  font-size: 15px;
  font-weight:bolder;
  font-family: 'Ubuntu', sans-serif;
  /* font-family: var(--font-mono); */
  color:#ccd6f6;;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i{
  font-size: 12px;
  line-height: 0;
  margin-left:5px;
}

.navbar a:hover,
.navbar li:hover>a{
  color:#64ffda;
}

@media (max-width: 1366px){
  .navbar ul{
    left:-90%;
  }
  .navbar:hover>ul{
    left:-100%;
  }
}

/* Navigation Bar - Mobile Navigation  */

.mobile-nav-toggle{
  color:#64ffda;
  font-size: 28px;
  cursor:pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
  padding-left: 25px;
}

@media (max-width: 991px){
  .mobile-nav-toggle{
    display: block;
  }

  .navbar ul{
    display: none;
  }
}

.navbar-mobile{
  position: fixed;
  overflow:hidden;
  top:0;
  right:0;
  left:0;
  bottom:0;
  background: #112240;
  opacity: 0.5;
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle{
  position:absolute;
  top:15px;
  right:15px;
}

.navbar-mobile ul{
  display:block;
  position:absolute;
  top:55px;
  right:15px;
  bottom:15px;
  /* left:15px; */
  padding:10px 0;
  background-color:#112240;
  overflow-y:auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus{
  padding:10px 20px;
  font-size: 15px;
  color:#ccd6f6;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a{
  color:#64ffda;
  /* background-color: #64ffda; */
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

/* End Navigation bar - Mobile Navigation */


#hero{
  width:100%;
  height:100vh;
}

.button{
  border:solid 1px #64ffda;
  background-color: #112240;
  border-radius: 5px;
  padding:8px 16px;
  text-align:center;
  display:inline-block;
  font-size:16px;
  transition-duration: 0.4s;
}
.button:active {
  background-color: #64ffda;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.cta-btn{
  color:#64ffda;
}
.cta-btn:hover{
  color:#64ffda;
}

#hero:before{
  content:"";
  /* background: rgba(0, 0, 0, 0.6); */
  position:absolute;
  bottom:0;
  top:0;
  left:0;
  right:0;
}

#hero .container{
  position:relative;
  /* padding-top:74px; */
  /* text-align: center; */
  /* padding-right: 660px; */
}

#hero h1{
  margin:0;
  color:white;
  font-size: 72px;
  font-weight: 500;
  line-height: 64px;
  font-family: 'Montserrat', sans-serif;
}
#hero h1 span{
  color:#64ffda;
}
#hero h2{
  /* color: rgba(255, 255, 255, 0.9); */
  margin:10px 0 0 0;
  color:#ccd6f6;
  font-size: 48px;
}
#hero h2 span{
  color:#64ffda;
}
#hero h5{
  color:#64ffda;
}
#hero p{
  color:#ccd6f6;
  padding-bottom:40px;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 1280px) {
  #hero {
    background-attachment: fixed;
  }
  #hero .container{
    padding-top: 300px;
  }
}

@media (max-width: 768px) {
  #hero {
    height: auto;
  }

  #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }

    #hero h2 {
      font-size: 20px;
      line-height: 24px;
    }

  #hero .container{
    padding-top: 300px;
  }

  #header .button{
    margin-right: 50px;
  }
}

/* About selection */

.about .content h3{
  font-weight: 500;
  font-size:28px;
  font-family: 'Montserrat', sans-serif;
  color:#ccd6f6;
}

.section-title span{
  font-family: 'Montserrat', sans-serif;
  color:#64ffda;
  font-size:28px;
  font-weight: 500;
}

.about .content ul{
  list-style: none;
  padding:0;
  color:#ccd6f6;
}

.about .content ul li{
  padding: 0 0 0 26px;
}

.about .content ul i{
  /* position: absolute; */
  font-size:12px;
  color:#64ffda;
  padding-right: 10px;
}

.about .content p:last-child{
  margin-bottom: 0;
}

.about p{
  color:#ccd6f6;
}

.about h6{
  color:#ccd6f6;
}

.hexagon {
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate(120deg);
       -moz-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
         -o-transform: rotate(120deg);
            transform: rotate(120deg);
    cursor: pointer;
    }
.hexagon-in1 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
    }
.hexagon-in2 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    opacity: 0.1;
    background-image: url(../img/about/Soundcloud.jpg);
    visibility: visible;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
    }
.hexagon-in2:hover {
    background-image: url(../img/about/Soundcloud.jpg);
    opacity: 0.9;
    }

.hexagon1 {
    width: 100%;
    height: 100%;
    margin: 0 0 0 -80px;
    }
.hexagon2 {
    width: 100%;
    height: 100%;
    margin: -80px 0 0 20px;
    }


/* jobs selection */

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#jobs *,
*::before,
*::after{
  box-sizing: border-box;
}

#jobs *{
  /* padding:0;
  margin:0; */
}

#jobs a:hover{
  cursor:pointer;
}

#jobs a {
   text-decoration: none;
   color: white;
}

#jobs img{
  padding:1rem;
  max-width: 75%;
  height: auto;
}

#jobs .container{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:1rem;
}

#jobs .container > div{
  /* top:25vh; */
  height: 50vh;
}

#jobs .project_container img{
  height: 75%;
}
/* Swiper container stylng */
#jobs h1{
  color:#ccd6f6;
  text-align:center;
}

#jobs h2{
  color:#ccd6f6;
  text-align:center;
  padding-bottom: 120px;
}

.swiper {
   right: 1rem;
   width: 100%;
   height: 100%;
}

.swiper-slide {

    /* Center slide text vertically */
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   /* -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center; */
}

.swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
 }

 .swiper {
    width: 400px;
    height: 320px;
 }

.slide_1 {
  background-color:#112240;
}


.slide_2 {
  background-color:#112240;
}


.slide_3 {
   background-color:#112240;
}


.slide_4 {
   background-color:#112240;
}


.slide_5 {
   background-color:#112240;
}

#jobs .section-title{
  padding-bottom:40px;
  padding-right:660px;
}

#jobs .section-title jobs-h1{
  font-size:32px;
  font-weight: 500px;
  padding:0px;
  line-height: 1px;
  margin:0 0 5px 0;
  letter-spacing: 2px;
  /* text-transform: uppercase; */
  color:#ccd6f6;
  font-family: 'Montserrat', sans-serif;
}


#jobs .section-title jobs-h1::after{
  content:"";
  width:360px;
  height: 1px;
  display: inline-block;
  background:#ccd6f6;
  opacity: 0.2;
  margin:10px 10px;
}
